
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono&family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FCF7F8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    font-family: "Playfair Display", serif;
  }

  /* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  